<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QA Automation Practice Test Suites" parallel="tests" thread-count="3">
  <suite-files>
    <suite-file path="testngAndroid.xml"/>
    <suite-file path="testngWeb.xml"/>
    <suite-file path="testngAPI.xml"/>
  </suite-files>
</suite>